.contact-wrap
{
  background: #031747;
  color: #ffffff;
  padding-bottom: 200px;
}

.contact-title
{
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 50px;
}

.contact-subtitle
{
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 25px;
}

.contact-card
{
  max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    border-radius: 22px;
    background: rgba(255,255,255,.06);
    border: 1px solid rgba(181,226,255,.18);
    box-shadow: 0 18px 50px rgba(0,0,0,.22);
}